.assist-bg{
    background: #FAFAFA;
}
.assist-title-container {
    display: flex;
    justify-content: center;
}

.assist-title {
    width: 475.55px;
    height: 95.11px;
    font-weight: 600;
    font-size: 35.6662px;
    line-height: 48px;
    text-align: center;
}

.assist-card-text {
    font-weight: 500;
    font-size: 15.2855px;
    line-height: 25px;
    letter-spacing: 0.424597px;
    color: #575757;
}

.assist-card-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.assist-card {
    width: 323.54px;
}

.assist-card-title {
    font-weight: 600;
    font-size: 20.3807px;
    line-height: 27px;
    letter-spacing: 0.254758px;
}
/* mobile and tablet */
@media screen and (max-width:1070px){
    .assist-card-layout{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:740px){
    .assist-card-layout{
        grid-template-columns: repeat(1,1fr);
    }
}