.hero-bg {
    background: url("../../assets/heroImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 534.14px;
}

.spacing {
    margin-left: 68.78px;
}

.hero-container {
    padding-top: 70.82px;
}

/* title */
.title {
    color: #ffff;
    font-weight: 400;
}

.title-today {
    color: #FFA17A;
    font-weight: 700;
}

.sub-title {
    color: #ffff;
    line-height: 0;
    padding-left: 60px;
    font-weight: 400;
}

.sub-title-tomorrow {
    color: #A3DA8D;
    font-weight: 700;
}

/* subsection */

.hero-subsection {
    width: 630.95px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.424597px;
    margin-top: 50px;
}

.hero-button {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 135.87px;
    height: 46.17px;
    border-radius: 3.39678px;
    color: #146356;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background: #FAFAFA;
    cursor: pointer;
    margin-top: 30px;
}
.btn-donate:hover{
    transition: all .2s ease-in-out;
    background: transparent;
    color: #fff;
    border: 1.27379px solid #FAFAFA;
}

.btn-contact{
    background: transparent;
    color: #fff;
    border: 1.27379px solid #FAFAFA;
}
.btn-contact:hover{
    transition: all .2s ease-in-out;
    background: #FAFAFA;
    color: #146356;
}
