.take-action-container {
    display: flex;
    background: #FAFAFA;
    width: 100%;
}

.take-action-bg {
  margin-left: 10%;
}

.take-action-title {
    width: 407.61px;
    height: 96px;
    font-weight: 600;
    font-size: 35.6662px;
    line-height: 48px;
    margin-bottom: 40px;
}

.take-action-subtitle {
    width: 407.61px;
    height: 75px;
    font-weight: 500;
    font-size: 15.2855px;
    line-height: 25px;
    letter-spacing: 0.424597px;
    margin-bottom: 40px;
}

.take-action-button {
    width: 135.87px;
    height: 46.17px;
    color: #ffff;
    background: #146356;
    border: none;
    border-radius: 3.39678px;
}
@media screen and (max-width:975px){
    .take-action-title{
        font-size: 20px;
    }
    .take-action-subtitle{
        font-size: 12px;
        width: 307.61px;
    }
}
@media screen and (max-width:600px){
    .take-action-container{
        flex-direction: column;
    }
    .take-action-title{
        margin-bottom: 0;
    }
    .take-action-subtitle{
        height: 50px;
    }
    .take-action-button{
        margin-bottom: 20px;
    }
}